.hero {
  background-image: url("/assets/img/hero-desktop.webp");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 320px;
  height: 42vw;
}

.hero .section-inner {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
}
