@import "footer.css";

body {
    margin: 0px;
}

header, section, footer {
    border: 4px solid #333;
    display: flex;
    justify-content: center;

}

.section-inner {
    max-width: 1200px;
    width: 100%;
    margin: 64px 20px;
}

.cards-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cards {
    flex: 1;
    background-color: #ccc9c9;
    padding: 20px;
}

.cards > *:first-child {
    margin-top: 0;
}

.cards > *:last-child {
    margin-bottom: 0;
}