@import "variables.css";
@import "base.css";
@import "fonts.css";
@import "header.css";
@import "hero.css";
@import "footer.css";

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header, section, footer {
    display: flex;
    justify-content: center;

}

.section-inner {
    max-width: 1200px;
    width: 100%;
    margin: 64px 20px;
}

.cards-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.cards {
    flex: 1;
    background-color: #fafafa;
    padding: 20px;
}

.cards > *:first-child {
    margin-top: 0;
}

.cards > *:last-child {
    margin-bottom: 0;
}

h3 {
    justify-content: space-between;
    display: flex;
}

.two-column-section {
    display: flex;
    flex-direction: row;
}
.two-column-section >* :first-child {
    margin-bottom: 20px;
    padding: 20px;
}

.image-wrapper {
    aspect-ratio: 16/9;
}

.button {
    align-self: flex-start;
    margin-top: auto;
    padding: 10px 20px;
}